@font-face	
{
	font-family: Palatino;
	src: url(../fonts/Palatino.ttf);
}

/*TRANSITIONS*/
.transition-3s
{
	-ms-transition: all 3s;
	-webkit-transition: all 3s;
	-moz-transition: all 3s;
	-o-transition: all 3s;
	transition: all 3s;
}

.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}
.z-five { z-index: 5;}
.z-six { z-index: 6;} 
.z-seven { z-index: 7;}
.z-eight { z-index: 8;}
.z-nine { z-index: 9;}
.z-ten { z-index: 10;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*BLACK SKIN*/

.black-skin
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black; 
	opacity: 0.7;
	z-index: 10;
}

/*PRE LOAD*/

#pre-load
{
	background-color: #DCDCDC;
}

#pre-load .pre-load-image
{
	background-image: url(../pics/pre-loader.png);
	background-size: auto 100%;
	background-position: 0% 0%;
	width: 0%;
	height: 100%;
	position: absolute;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	font-size: 50px;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
}

/* FRAME 001, 002, 003*/

#frame-001, #frame-002, #frame-003
{
	background-image: url(../pics/room-1.gif);
	background-size: 100% 100%;
}

#frame-001 .door-closed, #frame-002 .door-closed, #frame-003 .door-closed
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/room-1-door-closed.png);
	background-size: 100% 100%;
}

#frame-001 .door-open, #frame-002 .door-open, #frame-003 .door-open
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/room-1-door-open.png);
	background-size: 100% 100%;
}

#frame-001 .boy, #frame-003 .boy, #frame-004 .boy, #frame-005 .boy, 
#frame-006 .boy, #frame-007 .boy
{
	position: absolute;
	width: 50%;
	height: 100%;
	left: 65%;
	top: 20%;
	background-image: url(../pics/boy-normal.png);
	background-size: auto 100%;
}

#frame-002 .boy, #frame-008 .boy, #frame-009 .boy, #frame-010 .boy
{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 20%;
	background-image: url(../pics/boy-normal.png);
	background-size: auto 100%;
}

#frame-001 .wood-label, #frame-002 .wood-label, #frame-003 .wood-label
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/wood.png);
	background-size: 100% 100%;
	position: absolute;
}

#frame-001 .bags-and-boxes, #frame-002 .bags-and-boxes
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/bags-and-boxes.png);
	background-size: 100% 100%;
	position: absolute;
}

#frame-001 .bags-and-boxes-highlighted
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/bags-and-boxes-highlighted.png);
	background-size: 100% 100%;
	position: absolute;
}

#frame-001 .method-label, #frame-002 .method-label, #frame-003 .method-label
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/method.png);
	background-size: 100% 100%;
	position: absolute;
}

#frame-001 .method-label-highlighted, #frame-002 .method-label-highlighted, #frame-003 .method-label-highlighted
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/method-highlighted.png);
	background-size: 100% 100%;
	position: absolute;
}

#frame-001 .lock-highlighted
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/lock-highlighted.png);
	background-size: 100% 100%;
	position: absolute;
}
 /*FRAME 002 only*/
 
#frame-002 .white-cloud, #frame-002 .apples, #frame-002 .candies, #frame-002 .coins
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-002 .apple-molecule { background-image: url(../pics/apple-molecule.png); width: 100%; height: 100%; position: absolute; background-size: auto 100%;}
#frame-002 .white-cloud { background-image: url(../pics/white-cloud.png);}
#frame-002 .apples { background-image: url(../pics/apples.png); background-position: center;}
#frame-002 .candies { background-image: url(../pics/candies.png);}
#frame-002 .coins { background-image: url(../pics/coins.png);}

.next-button, .start-button, .correct, .keep-thinking, .result
{
	border-radius: 50%;
	z-index: 11;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 40%;
	top: 30%;
	background-color: white;
	color: black;
	font-family: Verdana;
	font-size: 30%;
	text-align: center;
	padding-top: 8.5%;	
}

.next-button:hover, .start-button:hover, .result:hover
{
	color: white;
	background-color: black;
}

/*FRAME 003 only*/

#frame-003 .scales
{
	width: 50%;
	height: 100%;
	left: -12%;
	background-image: url(../pics/scales.png);
	background-size: auto 100%;
	position: absolute;
}

#frame-003 .scales-highlighted
{
	width: 50%;
	height: 100%;
	left: -12%;
	background-image: url(../pics/scales-highlighted.png);
	background-size: auto 100%;
	position: absolute;
}

#frame-003 .scales-basket
{
	width: 16%;
	height: 32%;
	left: 10%;
	top: 50%;
	position: absolute;
}

#frame-003 .bag-1, #frame-003 .bag-1-highlighted,
#frame-003 .bag-2, #frame-003 .bag-2-highlighted,
#frame-003 .answer-bag-1, #frame-003 .answer-bag-2, 
#frame-003 .answer-bag-3
{
	width: 15%;
	height: 30%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-003 .bag-1 {	background-image: url(../pics/bag-1.png); top: 60%; left: 40%;}
#frame-003 .bag-1-highlighted {	background-image: url(../pics/bag-1-highlighted.png); top: 60%; left: 40%;}
#frame-003 .bag-2 {	background-image: url(../pics/bag-2.png); top: 60%; left: 60%; }
#frame-003 .bag-2-highlighted {	background-image: url(../pics/bag-2-highlighted.png); top: 60%; left: 60%; }
#frame-003 .answer-bag-1 {	cursor: pointer; background-size: 200% 100%; background-image: url(../pics/answer-bag-1.png); top: 60%; left: 58%;}
#frame-003 .answer-bag-2 {	cursor: pointer; background-size: 200% 100%; background-image: url(../pics/answer-bag-2.png); top: 70%; left: 72%;}
#frame-003 .answer-bag-3 {	cursor: pointer; background-size: 200% 100%; background-image: url(../pics/answer-bag-3.png); top: 75%; left: 85%;}

#frame-003 .answer-bag-1:hover { background-position: 100% 0%; }
#frame-003 .answer-bag-2:hover { background-position: 100% 0%; }
#frame-003 .answer-bag-3:hover { background-position: 100% 0%; }

#frame-003 .key, #frame-010 .key
{
	background-image: url(../pics/key.png);
	width: 5%;
	height: 10%;
	background-size: 100% 100%;
	top: 78%; 
	left: 76%;
	position: absolute;
}

#frame-003 .wood-exit
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/wood-exit.jpg);
	background-size: auto 100%;
}

/*FRAME 004 AND FRAME 005*/

#frame-004, #frame-005, #frame-006, #frame-007, #frame-008, #frame-009, #frame-010
{
	background-image: url(../pics/room-2.png);
	background-size: 100% 100%;
}

#frame-004 .door-closed, #frame-004 .door-open, #frame-004 .sand-label,
#frame-005 .door-closed, #frame-005 .door-open, #frame-005 .sand-label,
#frame-006 .door-closed, #frame-006 .door-open, #frame-006 .sand-label,
#frame-007 .door-closed, #frame-007 .door-open, #frame-007 .sand-label,
#frame-008 .door-closed, #frame-008 .door-open, #frame-008 .sand-label,
#frame-009 .door-closed, #frame-009 .door-open, #frame-009 .sand-label,
#frame-010 .door-closed, #frame-010 .door-open, #frame-010 .sand-label
{
	
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}

#frame-004 .sand-scheme, #frame-004 .sand-scheme-animated
{
	width: 50%;
	height: 50%;
	left: 30%;
	top: 40%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-004 .door-closed, #frame-005 .door-closed, #frame-006 .door-closed, #frame-010 .door-closed{ background-image: url(../pics/room-2-door-closed.png); }
#frame-004 .door-open, #frame-005 .door-open, #frame-006 .door-open, #frame-010 .door-open { background-image: url(../pics/room-2-door-open.png); }
.sand-label { background-image: url(../pics/sand.png); }
#frame-004 .sand-scheme { background-image: url(../pics/sand-scheme.png); }
#frame-004 .sio-animated 
{
	width: 50%;
	height: 50%;
	top: 50%;
	left: 30%;
	background-size: auto 100%;
	position: absolute;
	background-image: url(../pics/sio-animated.png);
}

/*FRAME 005*/

#frame-005 .task-label, #frame-008 .task-label
{
	font-family: Palatino;
	font-size: 25%;
	color: black;
	width: 10%;
	text-align: center;
	height: 8%;
	position: absolute;
	left: 58%;
	top: 12%;
	text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

/*FRAME 006*/

#frame-006 .gram-per-mole, #frame-006 .mole,
#frame-007 .gram-per-mole
{
	width: 30%;
	height: 40%;
	position: absolute;
	left: 37%;
	top: 60%;
	background-size: 100% 100%;
}

#frame-006 .gram-per-mole, #frame-007 .gram-per-mole { background-image: url(../pics/gram-per-mole.png); }
#frame-006 .mole { background-image: url(../pics/mole.png); }

/*FRAME 007*/
#frame-007 .molar-mass-kz, #frame-007 .molar-mass-ru, #frame-007 .molar-mass-en
{
	width: 30%;
	height: 30%;
	top: 70%;
	left: 35%;
	position: absolute;
	background-size: 100% 60%;
	background-repeat: no-repeat;
}

#frame-007 .molar-mass-kz {	background-image: url(../pics/molar-mass-kaz.png); background-position: top;}
#frame-007 .molar-mass-ru {	background-image: url(../pics/molar-mass-rus.png); background-position: center;}
#frame-007 .molar-mass-en {	background-image: url(../pics/molar-mass-eng.png); background-position: bottom;}

/*FRAME 008*/
#frame-008 .task, #frame-008 .answer
{
	position: absolute;
	font-family: Verdana;
	font-size: 40%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	text-align: center;
	text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

#frame-008 .answer
{
	cursor: pointer;
}

#frame-008 .answer:hover
{
	background-size: auto 120%;
	color: white;
}

#frame-008 .task { top: 60%; left: 20%; width: 60%; height: 10%;}
#frame-008 .task .task-image 
{ 
	width: 100%; 
	height: 300%; 
	background-size: auto 100%; 
	margin-top: -8%; 
	background-repeat: no-repeat; 
	background-position: center top;
}

#frame-008 .answer { width: 20%; height: 12%;}
#frame-008 .answer-1 { top: 75%; left: 20%;}
#frame-008 .answer-2 { top: 75%; left: 40%;}
#frame-008 .answer-3 { top: 75%; left: 60%;}
.task-3 .task-image { background-image: url(../pics/q3-h2o2.png); }
.task-4 .task-image { background-image: url(../pics/q4-2moles.png); }
.answer-1.task-1 {background-image: url(../pics/q1-optA.png); }
.answer-2.task-1 {background-image: url(../pics/q1-optB.png); }
.answer-3.task-1 {background-image: url(../pics/q1-optC.png); }
.answer-1.task-5 {background-image: url(../pics/q5-optA.png); }
.answer-2.task-5 {background-image: url(../pics/q5-optB.png); }
.answer-3.task-5 {background-image: url(../pics/q5-optC.png); }

/*FRAME 009*/

#frame-009 .avogadro-number
{
	width: 80%;
	height: 30%;
	position: absolute;
	left: 10%;
	top: 70%;
	font-family: comic sans ms;
	font-size: 40%;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black, 2px 2px black, 2px 2px black;
}

#frame-009 .avogadro-kaz, #frame-009 .avogadro-rus, #frame-009 .avogadro-eng
{
	position: absolute;
	width: 40%;
	height: 30%;
	left: 30%;
	background-size: 100% 100%;
	text-shadow: 2px 2px black, 2px 2px black, 2px 2px black,;
}

#frame-009 .avogadro-kaz { background-image: url("../pics/avogadro-kaz.png"); top: 55%;}
#frame-009 .avogadro-rus { background-image: url("../pics/avogadro-rus.png"); top: 65%;}
#frame-009 .avogadro-eng { background-image: url("../pics/avogadro-eng.png"); top: 75%;}

/*FRAME 010*/
#frame-010 .bucket
{
	position: absolute;
	width: 15%;
	height: 30%;
	background-image: url(../pics/bucket-lvl-0.png);
	background-size: 100% 100%;
}

#frame-010 .bucket-1 {top: 65%; left: 20%; background-image: url(../pics/bucket-label-1.png), url(../pics/bucket-lvl-0.png);} 
#frame-010 .bucket-2 {top: 40%; left: 35%; background-image: url(../pics/bucket-label-2.png), url(../pics/bucket-lvl-0.png);} 
#frame-010 .bucket-3 {top: 45%; left: 50%; background-image: url(../pics/bucket-label-3.png), url(../pics/bucket-lvl-0.png);} 
#frame-010 .bucket-4 {top: 70%; left: 70%; background-image: url(../pics/bucket-label-4.png), url(../pics/bucket-lvl-0.png);} 

#frame-010 .stone 
{
	background-size: 100% 100%;
	position: absolute;
	width: 5%;
	height: 5%;
}
#frame-010 .stone:hover
{
	width: 7%;
	height: 7%;
}

#frame-010 .stone-2cao { background-image: url(../pics/stone-2CaO.png); top: 80%; left: 35%;}
#frame-010 .stone-2h2o2 { background-image: url(../pics/stone-2H2O2.png); top: 80%; left: 41%;}
#frame-010 .stone-2kbr { background-image: url(../pics/stone-2KBr.png); top: 90%; left: 38%;}
#frame-010 .stone-2o2 { background-image: url(../pics/stone-2O2.png); top: 90%; left: 43%;}
#frame-010 .stone-3c { background-image: url(../pics/stone-3C.png); top: 91%; left: 49%;}
#frame-010 .stone-3nacl { background-image: url(../pics/stone-3NaCl.png);top: 91%; left: 57%;}
#frame-010 .stone-6co2 { background-image: url(../pics/stone-6CO2.png);top: 80%; left: 47%;}
#frame-010 .stone-6n2o { background-image: url(../pics/stone-6N2O.png);top: 80%; left: 55%;}
#frame-010 .stone-cac2 { background-image: url(../pics/stone-CaC2.png);top: 90%; left: 32%;}
#frame-010 .stone-cao { background-image: url(../pics/stone-CaO.png);top: 90%; left: 64%;}
#frame-010 .stone-h2s { background-image: url(../pics/stone-H2S.png);top: 80%; left: 61%;}

#frame-010 .sand-exit 
{
	background-image: url(../pics/sand-exit.jpg);
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
}

/*FRAME 011*/

#frame-011, #frame-012, #frame-013, #frame-014
{
	background-image: url(../pics/water-closed.png);
	background-size: 100% 100%;
}

#frame-011 .boy, #frame-012 .boy,
#frame-013 .boy, #frame-014 .boy
{
	position: absolute;
	top: 40%;
	width: 50%;
	height: 100%;
	background-image: url(../pics/boy-water.png);
	background-size: auto 100%;
}

#frame-011 .water-label, #frame-012 .water-label,
#frame-013 .water-label, #frame-014 .water-label
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pics/water.png);
	background-size: auto 100%;
}
.sugar, .carbon-dioxide, .hydrogen-dioxide 
{
	position: absolute;
	width: 30%;
	height: 10%;
	left: 35%;
	background-size: 100% 100%;
}
.sugar { background-image: url(../pics/sugar-mole.png); top: 50%; }
.carbon-dioxide { background-image: url(../pics/carbon-dioxide.png); top: 65%; }
.hydrogen-dioxide { background-image: url(../pics/hydrogen-dioxide.png); top: 80%;}

/*FRAME 012*/

#frame-012 .griddles
{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 40%;
	height: 80%;
	background-image: url(../pics/griddles.png);
	background-size: 100% 100%;
}

#frame-012 .recipe-title
{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 40%;
	height: 8%;
	background-image: url(../pics/recipe-title.png);
	background-size: 100% 100%;
}

#frame-012 .recipe
{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 30%;
	height: 70%;
	background-image: url(../pics/nacl-animated.png);
	background-size: 2600% 100%;
}

#frame-012 .griddles-result
{
	position: absolute;
	top: 85%;
	left: 60%;
	width: 30%;
	height: 7%;
	background-image: url(../pics/griddles-result.png);
	background-size: 100% 100%;
}
.relative-mass-eng, .relative-mass-rus, .relative-mass-kaz
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}

#frame-012 .formula-animated
{
	width: 70%;
	height: 70%;
	left: 15%;
	top: 7.5%;
	position: absolute;
	background-image: url(../pics/formula-animated.png);
	background-size: 400% 100%;
}

#frame-012 .relative-mass-eng { background-image: url(../pics/relative-mass-eng.png);}
#frame-012 .relative-mass-rus { background-image: url(../pics/relative-mass-rus.png);}
#frame-012 .relative-mass-kaz { background-image: url(../pics/relative-mass-kaz.png);}

/*FRAME 013*/

#frame-013 .task-1.label 
{
	width: 55%;
	height: 7%;
	top: 30%;
	left: 22%;
	position: absolute;
	background-image: url(../pics/task-1-label.png);
	background-size: 100% 100%;
}

#frame-013 .task-2.label
{
	width: 55%;
	height: 7%;
	top: 30%;
	left: 22%;
	position: absolute;
	background-image: url(../pics/task-2-label.png);
	background-size: 100% 100%;
}

#frame-013 .task-1.o-cell, #frame-013 .task-1.h-cell
{
	width: 10%;
	height: 20%;
	top: 35%;
	position: absolute;
	background-size: 100% 100%;
}

#frame-013 .task-1.h-cell
{
	left: 10%;
	background-image: url(../pics/h-cell.png)
}

#frame-013 .task-1.o-cell
{
	right: 10%;
	background-image: url(../pics/o-cell.png)
}

#frame-013 .task-1.basket-bg
{
	width: 40%;
	height: 10%;
	top: 80%;
	left: 30%;
	position: absolute;
	background-image: url(../pics/task-1-basket-bg.png);
	background-size: 100% 100%;
}

#frame-013 .task-1.ball-1, #frame-013 .task-1.ball-2 
{
	width: 4%;
	height: 8%;
	top: 48%;
	border-radius: 50%;
	position: absolute;
	background-size: 50% 50%;
	background-position: center;
	background-repeat: no-repeat;
	font-family: Comic Sans Ms;
	font-size: 20%;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-top: 1%;
}

#frame-013 .task-1.ball-1 { left: 13%;}
#frame-013 .task-1.ball-2 { left: 83%;}

#frame-013 .task-1.ball-1:hover, #frame-013 .task-1.ball-2:hover
{
	border: 3px solid blue;
	background-color: gray;
} 

#frame-013 .task-1.basket-1, #frame-013 .task-1.basket-2 
{
	width: 4.5%;
	height: 9%;
	top: 80.3%;
	border-radius: 50%;
	font-family: Comic Sans Ms;
	position: absolute;
	text-align: center;
	color: white;
	padding-top: 1%;
	font-size: 20%;
}

#frame-013 .task-1.basket-1 { left: 43.5%; }
#frame-013 .task-1.basket-2 { left: 60.2%; }

#frame-013 .task-2.button
{
	width: 13%;
	height: 8%;
	position: absolute;
	top: 50%;
	background-size: 100% 100%;
}

#frame-013 .task-2.button:hover { border: 4px solid blue;}

#frame-013 .task-2.button-1 { left: 15%; background-image: url(../pics/l.png);}
#frame-013 .task-2.button-2 { left: 35%; background-image: url(../pics/mole-gram.png); }
#frame-013 .task-2.button-3 { left: 55%; background-image: url(../pics/gram-mole.png); }
#frame-013 .task-2.button-4 { left: 77%; background-image: url(../pics/kg.png); }

#frame-013 .task-0.result-label
{
	background-image: url(../pics/result-label.png); 
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 70%;
	height: 10%;
	position: absolute;
	left: 15%;
	top: 40%;
}

#frame-013 .task-0.abacus
{
	width: 15%;
	height: 35%;
	left: 40%;
	top: 50%;
	position: absolute;
	background-image: url(../pics/abacus.png);
	background-size: 100% 100%;
}

#frame-014 .bg-1
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/water-closed.png);
	background-size: 100%;
}

#frame-014 .bg-2
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/water-empty_open2.png);
	background-size: 100%;
}

#frame-014 .barrel
{
	width: 100%;
	height: 100%;
	background-image: url(../pics/barrel-sprite.png);
	background-size: auto 100%;
	position: absolute;
}

#frame-014 .abacus
{
	width: 10%;
	height: 30%;
	background-image: url(../pics/abacus.png);
	background-size: 100% 100%;
	position: absolute;
	left: 90%;
	top: 75%;
}

#frame-014 .abacus
{
	width: 10%;
	height: 30%;
	background-image: url(../pics/abacus.png);
	background-size: 100% 100%;
	position: absolute;
	left: 90%;
	top: 75%;
}

#frame-014 .lock-center-sprite
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/lock-center-sprite.png);
	background-size: 200% 100%;
}

#frame-014 .lock-open
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/lock-sprite.png);
	background-size: auto 100%;
}

#frame-014 .lock-closed
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/lock-sprite.png);
	background-size: auto 100%;
}

#frame-014 .lock-num-1, #frame-014 .lock-num-2, 
#frame-014 .lock-num-3, #frame-014 .lock-num-4
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: auto 100%;
}

#frame-014 .lock-num-1 { background-image: url(../pics/lock-num-1.png); }
#frame-014 .lock-num-2 { background-image: url(../pics/lock-num-2.png); }
#frame-014 .lock-num-3 { background-image: url(../pics/lock-num-3.png); }
#frame-014 .lock-num-4 { background-image: url(../pics/lock-num-4.png); }

#frame-014 .lock-button 
{	
	position: absolute;
	width: 5%;
	height: 10%;
	border-radius: 50%;
	top: 55%;
	left: 5%;
	z-index: 7;
	cursor: pointer;
}

#frame-014 .lock-num-button 
{	
	position: absolute;
	width: 3%;
	height: 6%;
	border-radius: 50%;
	z-index: 12;
	left: 41.5%;
}

#frame-014 .lock-num-button-1 { top: 51.5%;}
#frame-014 .lock-num-button-2 { top: 60%;}
#frame-014 .lock-num-button-3 { top: 69%;}
#frame-014 .lock-num-button-4 { top: 78%;}

/*FRAME-015*/

#frame-015 
{
	background-image: url(../pics/room-4.png);
	background-size: 100% 100%;
}

#frame-015 .clay-label
{
	background-image: url(../pics/clay.png);
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
}

#frame-015 .boy
{
	position: absolute;
	top: 40%;
	width: 50%;
	height: 100%;
	background-image: url(../pics/boy-normal.png);
	background-size: auto 100%;
}

#frame-015 .door-closed, #frame-015 .door-open
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#frame-015 .door-closed { background-image: url(../pics/room-4-closed.png);}
#frame-015 .door-open { background-image: url(../pics/room-4-open.png); }

#frame-015 .clay-task-label
{
	width: 20%;
	height: 40%;
	top: 10%;
	left: 50%;
	position: absolute;
	background-image: url(../pics/clay-task-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#frame-015 .clay-task
{
	width: 20%;
	height: 8%;
	top: 30%;
	left: 30%;
	position: absolute;
	background-image: url(../pics/clay-task.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#frame-015 .jug
{
	width: 15%;
	height: 30%;
	position: absolute;
	background-image: url(../pics/jug.png);
	background-size: auto 100%;
}

#frame-015 .jug:hover
{
	width: 17%;
	height: 34%;
}

#frame-015 .jug-3 { left: 30%; top: 65%; background-position: 60% 0%; }
#frame-015 .jug-4 { left: 50%; top: 60%; background-position: 30% 0%; }
#frame-015 .jug-5 { left: 70%; top: 65%; background-position: 0% 0%; }

#frame-015 .key 
{
	width: 5%;
	height: 10%;
	position: absolute;
	left: 75%;
	top: 75%;
	background-image: url(../pics/key.png);
	background-size: 100% 100%;
}

#frame-015 .clay-exit 
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/clay-exit.png);
	background-size: auto 100%;
}

/*FRAME 016*/

#frame-016
{
	background-image: url(../pics/roof.jpg);
}

#frame-016 .boy
{
	background-image: url(../pics/avogadro-guy.png);
	background-size: auto 100%;
	width: 27.5%;
	height: 55%;
	top: 20%;
	left: 5%;
	position: absolute;
}

#frame-016 .jug, #frame-016 .abacus
{
	width: 5%;
	height: 10%;
	position: absolute;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#frame-016 .jug {	background-image: url(../pics/jug-active.png); top: 90%; left: 95%;}
#frame-016 .abacus {	background-image: url(../pics/abacus.png); top: 90%; left: 90%;}

#frame-016 .chest-open, #frame-016 .chest-closed 
{
	width: 30%;
	height: 60%;
	position: absolute;
	left: 35%;
	top: 20%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: Comic Sans Ms;
	font-size: 50%;
	color: white;
	font-weight: bold;
	padding-top: 15%;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
	cursor: pointer;
}

#frame-016 .coin-animated  
{
	width: 35%;
	height: 70%;
	position: absolute;
	left: 30%;
	top: 15%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	font-family: Comic Sans Ms;
	font-size: 30%;
	color: orange;
	padding-top: 15%;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

#frame-016 .chest-open { background-image: url(../pics/s0-chest-open.png); }
#frame-016 .chest-closed { background-image: url(../pics/s0-chest-closed.png); }
#frame-016 .coin-animated { background-image: url(../pics/coin-animated.gif); background-position: center;}

#frame-016 .coin-info-animated 
{
	height: 30%;
	width: 50%;
	left: 20%;
	top: 5%;
	position: absolute;
	background-image: url(../pics/coin-info.png);
	background-size: 500% 100%;
}

#frame-016 .hand
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/hand-sprite.png);
	background-size: auto 100%;
}

#frame-016 .abacus-animated
{
	width: 20%;
	height: 40%;
	position: absolute;
	background-image: url(../pics/abacus-sprite.png);
	background-size: auto 100%;
	left: 80%;
}