.z-1 {
  z-index: 1; }

.z-2 {
  z-index: 2; }

.z-3, #frame-016 .wood-button, #frame-016 .coin-button {
  z-index: 3; }

.z-4, #frame-016 .jug-button {
  z-index: 4; }

.z-5 {
  z-index: 5; }

.z-6 {
  z-index: 6; }

.z-7 {
  z-index: 7; }

.z-8 {
  z-index: 8; }

.z-9 {
  z-index: 9; }

.z-10 {
  z-index: 10; }

.z-11 {
  z-index: 11; }

.z-12 {
  z-index: 12; }

.z-13 {
  z-index: 13; }

.z-14 {
  z-index: 14; }

.z-15 {
  z-index: 15; }

.z-16 {
  z-index: 16; }

.z-17 {
  z-index: 17; }

.z-18 {
  z-index: 18; }

.z-19 {
  z-index: 19; }

.z-20 {
  z-index: 20; }

.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10; }

.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 30%;
  text-align: center;
  padding-top: 8.5%; }

.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black; }

.absolute-max, #frame-000 .bg-1, #frame-000 .bg-2, .intro-video, .intro-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.absolute, #frame-000 .menu-roll, #frame-000 .menu-roll-final, #frame-000 .chest-open, #frame-000 .chest-closed, #frame-000 .button, .reg-box, #frame-005 .example-formula, #frame-005 .bucket, #frame-005 .bucket-c, #frame-005 .plus-sign, #frame-005 .bucket-o2, #frame-005 .equal-sign, #frame-005 .bucket-co, #frame-005 label, #frame-005 .stone, #frame-005 .stone-c, #frame-005 .stone-o2, #frame-005 .stone-co, #frame-016 .wood-button, #frame-016 .coin-button, #frame-016 .jug-button, #frame-016 .farewell, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, .intro-pic .grade, .intro-pic .subject {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white; }

/*FRAME 000 */
/* FRAME 000 */
#frame-000 .bg-1 {
  background-image: url(../pics/s0-bg.jpg); }

#frame-000 .bg-2 {
  background-image: url(../pics/s0-bg-2.jpg); }

#frame-000 .menu-roll {
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-image: url(../pics/s0-menu-roll.png); }

#frame-000 .menu-roll-final {
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-image: url(../pics/s0-menu-roll-final.png); }

#frame-000 .chest-open {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
  background-image: url(../pics/s0-chest-open.png);
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

#frame-000 .chest-open-big {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%; }

#frame-000 .chest-closed {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
  background-image: url(../pics/s0-chest-closed.png);
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

#frame-000 .chest-closed-small {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
  opacity: 0; }

#frame-000 .button {
  left: 78.15%;
  top: 39.1%;
  width: 20.1%;
  height: 22.1%;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 70%;
  text-align: center;
  padding: 2%;
  padding-top: 3%;
  font-family: Verdana;
  background-color: #45484d;
  background-image: -webkit-linear-gradient(top, #45484d, #000000);
  background-image: -moz-linear-gradient(top, #45484d, #000000);
  background-image: -ms-linear-gradient(top, #45484d, #000000);
  background-image: -o-linear-gradient(top, #45484d, #000000);
  background-image: linear-gradient(to bottom, #45484d, #000000);
  z-index: 4; }

#frame-000 .button:hover {
  border: 1px solid #a0a0a0;
  background-color: #bababa;
  background-image: -webkit-linear-gradient(top, #bababa, #575757);
  background-image: -moz-linear-gradient(top, #bababa, #575757);
  background-image: -ms-linear-gradient(top, #bababa, #575757);
  background-image: -o-linear-gradient(top, #bababa, #575757);
  background-image: linear-gradient(to bottom, #bababa, #575757); }

/*REG BOX */
.reg-box {
  left: 80%;
  top: 75%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightGrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana; }

.reg-box.topcorner {
  left: 1.5%;
  top: 3%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center; }

.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  height: 2em;
  width: 13em;
  padding: 0.25em; }

.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  height: 2em;
  padding: 0.25em; }

.reg-box .enter-button:hover {
  background-color: black;
  color: white; }

#frame-005 .example-formula {
  left: 36.1%;
  top: 25.7%;
  width: 29.45%;
  height: 16.3%;
  background-image: url(../pics/example-formula.png); }
#frame-005 .bucket {
  background-size: 400% 100%; }
#frame-005 .bucket-c {
  left: 24.75%;
  top: 50%;
  width: 12.5%;
  height: 27%;
  background-image: url(../pics/bucket-lvl.png); }
#frame-005 .plus-sign {
  left: 40%;
  top: 60%;
  width: 2.5%;
  height: 5%;
  font-weight: bold; }
#frame-005 .bucket-o2 {
  left: 44.6%;
  top: 50.2%;
  width: 12.5%;
  height: 27%;
  background-image: url(../pics/bucket-lvl-o2.png); }
#frame-005 .equal-sign {
  left: 59%;
  top: 60%;
  width: 2.5%;
  height: 5%;
  font-weight: bold;
  cursor: pointer; }
#frame-005 .equal-sign:hover {
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  color: white; }
#frame-005 .bucket-co {
  left: 66.25%;
  top: 50%;
  width: 12.5%;
  height: 27%;
  background-image: url(../pics/bucket-lvl-co.png); }
#frame-005 label {
  font-size: 30%;
  font-family: Verdana;
  font-weight: bold;
  left: 40%;
  top: 74%; }
#frame-005 .stone {
  background-size: 100% 100%; }
#frame-005 .stone-c {
  left: 20.35%;
  top: 87.5%;
  width: 5%;
  height: 7.4%;
  background-image: url(../pics/c-elem.png); }
#frame-005 .stone-o2 {
  left: 45.75%;
  top: 90.5%;
  width: 6.15%;
  height: 7.1%;
  background-image: url(../pics/o2-elem.png); }
#frame-005 .stone-co {
  left: 70%;
  top: 88.7%;
  width: 7.3%;
  height: 7.5%;
  background-image: url(../pics/co-elem.png); }

#frame-016 .button {
  cursor: pointer; }
#frame-016 .wood-button {
  left: 0%;
  top: 0%;
  width: 99.6%;
  height: 17.3%; }
#frame-016 .coin-button {
  left: 0%;
  top: 19.4%;
  width: 100%;
  height: 80.6%; }
#frame-016 .jug-button {
  left: 71.05%;
  top: 57.1%;
  width: 28.95%;
  height: 42.9%; }
#frame-016 .farewell {
  left: 17.5%;
  top: 40%;
  width: 10%;
  height: 20%;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  font-family: Verdana;
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white; }

/*ANNOTATION */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 35%;
  font-family: Calibri Light;
  text-align: left; }

#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%; }

#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%; }

#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center; }

#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%; }

#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center; }

#frame-000 .annotation-button-close {
  color: gray; }

#frame-000 .annotation-button:hover {
  color: blue; }

#frame-000 .copyright {
  z-index: 23;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 20%;
  font-family: Segoe;
  color: #000; }

/*INTRO VIDEO */
.intro-video {
  display: block;
  z-index: 25;
  background-color: white; }

/*INTRO PIC */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24; }

.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center; }

.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 45%;
  color: #666564;
  text-align: left; }

.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light; }

/*# sourceMappingURL=helper.css.map */
