
$page-width: 2000px
$page-height: 1000px
$text-color: #e8f406

@mixin transition($val)
	-ms-transition: all $val
	-webkit-transition: all $val
	-moz-transition: all $val
	-o-transition: all $val
	transition: all $val

@mixin transform($val)
	-ms-transform: rotate($val)
	-webkit-transform: rotate($val)
	-moz-transform: rotate($val)
	-o-transform: rotate($val)
	transform: rotate($val)

@mixin box-shadow($width, $height, $color)
	box-shadow: 0px 0px $width $height $color
	-moz-box-shadow: 0px 0px $width $height $color
	-o-box-shadow: 0px 0px $width $height $color
	-webkit-box-shadow: 0px 0px $width $height $color
	-ms-box-shadow: 0px 0px $width $height $color
	
@mixin text-shadow($radius, $color)
	text-shadow: 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color, 0 0 $radius $color

@mixin pos-and-size($left, $top, $width, $height)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%
	@extend .absolute
	
@mixin pos($left, $top)
	left: $left / 2000px * 100%
	top: $top / 1000px * 100%
	
@mixin size($width, $height)
	width: $width / 2000px * 100%
	height: $height / 1000px * 100%

@mixin pos-and-size-2($left, $top, $width, $height)
	left: $left
	top: $top
	width: $width
	height: $height
	
@mixin pos-2($left, $top)
	left: $left
	top: $top
	
@mixin size-2($width, $height)
	width: $width
	height: $height
	
@mixin bg($file)
	background-image: url(../pics/#{$file})
	
@mixin gradient($color1, $color2)
	background-color: $color1
	background-image: -webkit-linear-gradient(top, $color1, $color2)
	background-image: -moz-linear-gradient(top, $color1, $color2)
	background-image: -ms-linear-gradient(top, $color1, $color2)
	background-image: -o-linear-gradient(top, $color1, $color2)
	background-image: linear-gradient(to bottom, $color1, $color2)
	
@function calc-percent($target, $container)
	@return $target/$container * 100%

@for $i from 1 through 20
	.z-#{$i}
		z-index: #{$i}
		
.black-skin
	width: 100%
	height: 100%
	position: absolute
	background-color: black
	opacity: 0.7
	z-index: 10

.next-button, .start-button, .keep-thinking, .result
	border-radius: 50%
	z-index: 11
	width: 20%
	height: 40%
	position: absolute
	left: 40%
	top: 30%
	background-color: white
	color: black
	font-size: 30%
	text-align: center
	padding-top: 8.5%

.next-button:hover, .start-button:hover, .result:hover
	color: white
	background-color: black

.absolute-max
	position: absolute
	width: 100%
	height: 100%
	background-size: auto 100%
	background-repeat: no-repeat

.absolute
	position: absolute
	background-size: auto 100%
	background-repeat: no-repeat

.transition-2s
	-ms-transition: all 2s
	-webkit-transition: all 2s
	-moz-transition: all 2s
	-o-transition: all 2s
	transition: all 2s

.border-box
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-o-box-sizing: border-box
	-ms-box-sizing: border-box

.blink-shadow
	@include box-shadow(10px, 10px, white)
	
/*FRAME 000*/

/* FRAME 000 */

#frame-000 .bg-1
	@extend .absolute-max
	background-image: url(../pics/s0-bg.jpg)
	
#frame-000 .bg-2
	@extend .absolute-max
	background-image: url(../pics/s0-bg-2.jpg)

#frame-000 .menu-roll
	@include pos-and-size-2(35%, 20%, 30%, 60%)
	@extend .absolute
	background-image: url(../pics/s0-menu-roll.png)

#frame-000 .menu-roll-final
	@include pos-and-size-2(35%, 20%, 30%, 60%)
	@extend .absolute
	background-image: url(../pics/s0-menu-roll-final.png)
	
#frame-000 .chest-open
	@extend .absolute
	@include pos-and-size-2(45%, 40%, 10%, 20%)
	background-image: url(../pics/s0-chest-open.png)
	@include transition(2s)
	
#frame-000 .chest-open-big
	@include pos-and-size-2(25%, 0%, 50%, 100%)
	
#frame-000 .chest-closed
	@extend .absolute
	@include pos-and-size-2(25%, 0%, 50%, 100%)
	background-image: url(../pics/s0-chest-closed.png)
	@include transition(2s)
	
#frame-000 .chest-closed-small
	@include pos-and-size-2(45%, 40%, 10%, 20%)
	opacity: 0
	
#frame-000 .button
	@extend .absolute
	@include pos-and-size(1563px, 391px, 402px, 221px)
	border-radius: 10px
	color: #FFFFFF
	cursor: pointer
	font-size: 70%
	text-align: center
	padding: 2%
	padding-top: 3%
	font-family: Verdana
	@include gradient(#45484d, #000000)
	z-index: 4
	
#frame-000 .button:hover
	border: 1px solid #a0a0a0
	background-color: #bababa
	background-image: -webkit-linear-gradient(top, #bababa, #575757)
	background-image: -moz-linear-gradient(top, #bababa, #575757)
	background-image: -ms-linear-gradient(top, #bababa, #575757)
	background-image: -o-linear-gradient(top, #bababa, #575757)
	background-image: linear-gradient(to bottom, #bababa, #575757)
	
/*REG BOX*/
	
.reg-box
	@extend .absolute
	@include pos-and-size(1600px, 750px, 380px, 200px)
	border-radius: 7px
	border: 1px solid lightGrey
	opacity: 0.9
	color: white
	background-color: grey
	font-size: 20%
	padding: 1em
	line-height: 2em
	text-align: right
	z-index: 10
	font-family: Verdana

.reg-box.topcorner
	@include pos(30px, 30px)
	@include transition(2s)
	
.reg-box .error
	color: red
	font-size: 80%
	text-align: center
	
.reg-box input
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	height: 2em
	width: 13em
	padding: 0.25em
	
.reg-box .enter-button
	display: inlin-block
	border-radius: 5px
	border: 1px solid black
	font-size: 80%
	height: 2em
	padding: 0.25em
	
.reg-box .enter-button:hover
	background-color: black
	color: white
	
#frame-005 
	.example-formula 
		@extend .absolute
		@include pos-and-size(722px, 257px, 589px, 163px)
		background-image: url(../pics/example-formula.png)
	
	.bucket
		@extend .absolute
		background-size: 400% 100%
		
	.bucket-c
		@include pos-and-size(495px, 500px, 250px, 270px)
		background-image: url(../pics/bucket-lvl.png)
		
	.plus-sign
		@include pos-and-size(800px, 600px, 50px, 50px)
		font-weight: bold
		
	.bucket-o2 
		@include pos-and-size(892px, 502px, 250px, 270px)
		background-image: url(../pics/bucket-lvl-o2.png)
		
	.equal-sign
		@include pos-and-size(1180px, 600px, 50px, 50px)
		font-weight: bold
		cursor: pointer
		
	.equal-sign:hover
		text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black
		color: white
		
	.bucket-co
		@include pos-and-size(1325px, 500px, 250px, 270px)
		background-image: url(../pics/bucket-lvl-co.png)
		
	label
		font-size: 30%
		font-family: Verdana
		font-weight: bold
		@extend .absolute
		left: 40%
		top: 74%
		
	.stone
		@extend .absolute
		background-size: 100% 100%
		
	.stone-c
		@include pos-and-size(407px, 875px, 100px, 74px)
		background-image: url(../pics/c-elem.png)
		
	.stone-o2
		@include pos-and-size(915px, 905px, 123px, 71px)
		background-image: url(../pics/o2-elem.png)
		
	.stone-co 
		@include pos-and-size(1400px, 887px, 146px, 75px)
		background-image: url(../pics/co-elem.png)
		
#frame-016
	.button
		cursor: pointer
		
	.wood-button
		@include pos-and-size(0px, 0px, 1992px, 173px)
		@extend .z-3
		
	.coin-button
		@include pos-and-size(0px, 194px, 2000px, 806px)
		@extend .z-3
		
	.jug-button
		@include pos-and-size(1421px, 571px, 579px, 429px)
		@extend .z-4

	.farewell
		@include pos-and-size(350px, 400px, 200px, 200px)
		font-size: 150%
		font-weight: bold
		text-align: center
		font-family: Verdana
		text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white
		
/*ANNOTATION*/
#frame-000 .annotation-hidden
	@extend .absolute
	z-index: 20
	@include pos-and-size-2(-120%, 0%, 100%, 100%)
	background-color: white
	color: black
	@include transition(2s)
	padding: 3em 7em
	font-size: 35%
	font-family: Calibri Light
	text-align: left

#frame-000 .annotation-hidden ul li
	font-family: Calibri Light
	font-size: 75%

#frame-000 .annotation-hidden .footer 
	font-family: Calibri Light
	font-style: italic
	font-size: 100%

#frame-000 .annotation-hidden .header 
	font-family: Calibri
	font-style: bold
	font-size: 120%
	display: block
	min-width: 100%
	text-align: center

#frame-000 .annotation-shown
	@include pos-and-size-2(0%, 0%, 100%, 100%)

#frame-000 .annotation-button
	@extend .absolute
	z-index: 23
	@include pos-and-size-2(5%, 85%, 5%, 5%)
	font-size: 30%
	color: white
	cursor: pointer
	text-align: center

#frame-000 .annotation-button-close
	color: gray

#frame-000 .annotation-button:hover
	color: blue

#frame-000 .copyright
	@extend .absolute
	z-index: 23
	left: 77%
	top: 96%
	width: 23%
	height: 5%
	font-size: 20%
	font-family: Segoe
	color: #000	
	
/*INTRO VIDEO*/

.intro-video
	@extend .absolute-max
	display: block
	z-index: 25
	background-color: white
	
/*INTRO PIC*/

.intro-pic
	@extend .absolute-max
	background-image: url(../pics/intro-pic.png)
	z-index: 24

.intro-pic .grade 
	@extend .absolute
	@include pos-and-size(520px, 368px, 97px, 82px)
	font-family: Calibri Light
	font-size: 70%
	color: white
	text-align: center

.intro-pic .subject 
	@extend .absolute
	@include pos-and-size(839px, 458px, 800px, 131px)
	font-family: Calibri Light
	font-size: 45%
	color: #666564
	text-align: left

.intro-pic .subject .sub-part
	font-size: 80%
	font-family: Calibri Light